<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Basic Site</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <nav>
        <header class="navbar">
            <h1>Welcome Visitor, to the world of Black Widow!!!</h1>
            <div class="links">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photos">Photo Gallery</a>
        </div>
        </header>  
    </nav>
    <p><span>Natasha Romanoff/Black Widow</span>, is a Russian spy, an enemy of Iron Man, until she decides 
        to change sides and becomes part of S.H.I.E.L.D. and, in the future, 
        the <span>Avengers</span>.
    </p>
</body>
</html>